html {
    height: 100%;
}
body {
    height: 100%;
}

@media (min-width: 800px) {
header, main, footer {
    padding-left: 300px;
}
}

main {
    height: 100%;
}
ul.sidenav.sidenav-fixed li.logo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
ul.sidenav.sidenav-fixed ul.collapsible-accordion a.collapsible-header {
    padding: 0 30px
}
ul.sidenav.sidenav-fixed ul.collapsible-accordion .collapsible-body li a {
     padding: 0 37.5px 0 45px
}
#nav-mobile {
    height: 100%;
}
#logo-container {
    height: 270px;
    margin-bottom: 32px;
}
#front-page-logo {
    display: inline-block;
    height: 100%;
    pointer-events: none;
}
*,*:before,*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}
#mapid {
    width: 600px;
    height: 400px;
}
.carousel .carousel-item {
    width: 85% !important;
    height: 100%;
}

