{% extends 'ccc/base.html' %}

{% block title %}Charm City Chess - Coaching{% endblock %}

{% block head %}
  <meta name="description" content="Looking to improve your chess? Work with one of coaches for the best chess instruction in the Baltimore area!">
{% endblock %}

{% block content %}
  <div class="container">
    
    <h1>Coaching And Instruction</h1>

    <div class="row">
      <div class="col s12 m6"">


	<div class="card blue-grey darken-1">
	  <div class="card-content white-text">
	    <span class="card-title">GM Marin Bosiocic</span>
	    {% load static %}
	    <div class="card-image ">
	      <img class="card-img-top" style="height:auto; width:70%; margin:auto;" src="{% static 'ccc/coaches/marinbosiocic.jpg' %}" alt="Marin Bosiocic">
	    </div>
	    <p>Mr. Marin Bosiocic is a Chess Grand Master and two time national chess champion of Croatia.
	      Born 1988, Mr. Bosiocic&#39;s FIDE NR rating is currently 2602 with a highest ranking of 2648.
	      Other awards include his gold medal win on the second board in the European Team
	      Championships in Hersonissos, Greece in 2017.
	      Mr. Bosiocic has over 10 years of experience in chess training on all levels and has
	      constructed a system of personal programs for all elements of chess.
	      The basic structure of his training is: <br>
	      - To propose a plan of subjects and a schedule based on a student&#39;s recent games.<br>
	      - The plan of participation in competitions is made for students interested in tournament play.<br>
	      - Evaluation of student performance, if requested, is done on a bi-monthly basis.<br>
	      Lessons use chess-based, on-line tools and are available to children or adults.<br>

	      Other highlights:<br>
	      <li><a href="https://www.youtube.com/watch?v=wlNxg6hcHro">Interview on European team chess 2017 Greece championship where he was the gold medalist on second board with 2818 performance rating.</a></li>
	      <li><a href="https://www.youtube.com/watch?v=6LNqVfHZ4A4">World blitz chess championship Moscow 2019 Marin Bosiocic-Wang Hao (elo 2763) 1-0</a></li>
	      <li><a href="https://www.youtube.com/watch?v=o6KK7IfFvR4">Magnus Carlsen (World champion)-Marin Bosiocic 1-0 2016 Doha</a></li>		     
	      
	    </p>
	    
	    
	    <table class="table">
	      <tr>
		<td>Private Hourly Rate</td>
		<td>$60</td>
	      </tr>
	      <tr>
		<td>Group Hourly Rate (max 5 students)</td>
		<td>$30</td>
	      </tr>
	    </table>
	    <hr>
	    <p>Booking and information!</p>
	  </div>
	  <div class="card-action">
	    <a href="mailto:charmcitychess@gmail.com">Email: charmcitychess@gmail.com</a>
	    <a href="tel:+9175735775">917-573-5775</a>
	  </div>
	</div>
      </div>

      <div class="col s12 m6">


	<div class="card blue-grey darken-1">
	  <div class="card-content white-text">
	    <span class="card-title">Theo Epstein</span>
	    {% load static %}
	    <div class="card-image">
	      <img class="card-img-top" style="height:auto; width:70%; margin:auto;" src="{% static 'ccc/coaches/theoepstein.jpg' %}" alt="Theo Epstein">
	    </div>
	    <p>	     
	      Theodore “Theo” Epstein, graduate of Yale University with a Bachelor’s Degree in Mathematics is an experienced and highly qualified chess instructor for students of all ages and levels of play.  <br><br>
	      
	      Mr. Epstein, a US Chess Federation rated player, residing in Baltimore, Maryland, gives instruction in private and classroom settings.  His personalized and tested approach has proved successful for students interested in both casual and tournament play.<br><br>

	      Mr. Epstein’s most recent professional tournament success is his victory in the 2021 Chicago Chess Open.  <br><br>

	    </p>
	    Chess courses consist of three-lesson packages beginning at $55 per session.  For other rates and availability, please contact the Charm City Chess Club at CharmCityChess@gmail.com or by telephone on 917-573-5775.
	    <hr>
	    <p>Booking and information!</p>
	  </div>
	  <div class="card-action">
	    <a href="mailto:charmcitychess@gmail.com">Email: charmcitychess@gmail.com</a>
	    <a href="tel:+9175735775">917-573-5775</a>
	  </div>
	</div>
      </div>
    </div>
  </div>
  
{% endblock %}
