<header>
    <div class="container">
	<a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger waves-effect waves-light circle hide-on-large-only">
	    <i class="material-icons">menu</i>
	</a>
    </div>
    <ul id="nav-mobile" class="sidenav sidenav-fixed">
        <li class="logo">
	    <a id="logo-container" href="/" class="brand-logo">
		{% load static %}
		<object id="front-page-logo" type="image/jpg" data="{% static 'ccc/logo.jpg' %}">Error loading logo</object>
	    </a>
	</li>

	<li><a href="/coaching">Coaching/Instruction</a></li>
	<li>
	    <ul class="collapsible collapsible-accordion">
		<li>
		    <a class="collapsible-header waves-effect waves-teal">Gallery</a>
		    <div class="collapsible-body">
			<ul>
			    <li><a href="/gallery/2019_10_12_Tourney">October 2019 Open</a></li>
			    <li><a href="/gallery/2019_06_29_Tourney">June 2019 Open</a></li>
			    <li><a href="/gallery/2019_02_23_Tourney">Feb 2019 Open</a></li>
			</ul>
		    </div>
		</li>
	    </ul>
	</li>

	<li>
	    <ul class="collapsible collapsible-accordion">
		<li>
		    <a class="collapsible-header waves-effect waves-teal">Tournament Results</a>
		    <div class="collapsible-body">
		      <ul>
			<li><a href="http://www.uschess.org/msa/XtblMain.php?202112116282.0" target="_blank">December 2021 Tournament</a></li>
			  <li><a href="http://www.uschess.org/msa/XtblMain.php?201912147902.0" target="_blank">December 2019 Tournament</a></li>
			    <li><a href="http://www.uschess.org/msa/XtblMain.php?201910125062.0" target="_blank">October 2019 Tournament</a></li>
			    <li><a href="http://www.uschess.org/msa/XtblMain.php?201906294822.0" target="_blank">June 2019 Tournament</a></li>
			    <li><a href="http://www.uschess.org/msa/XtblMain.php?201902231652.0" target="_blank">February 2019 Tournament</a></li>
			    <li><a href="http://www.uschess.org/msa/XtblMain.php?201811109162.0" target="_blank">November 2018 Tournament</a></li>
			</ul>
		    </div>
		</li>
	    </ul>
	</li>

	<li>
	    <ul class="collapsible collapsible-accordion">
		<li>
		    <a class="collapsible-header waves-effect waves-teal">Play With Us Online</a>
		    <div class="collapsible-body">
			<ul>
			    <li><a href="https://www.chess.com/club/charm-city-chess-club">chess.com</a></li>
			    <li><a href="https://lichess.org/team/charm-city-chess-club">lichess.org</a></li>
			</ul>
		    </div>
		</li>
	    </ul>
	</li>
	
	<li>
	    <a href="https://www.facebook.com/groups/charmcitychess/">Facebook</a>
	</li>
	<li>
	    <a href="/bylaws/">Club By-laws</a>
	</li>

	<hr>
	<center>
	    <li>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="form-inline my-2 my-lg-0">
		    <input type="hidden" name="cmd" value="_donations" />
		    <input type="hidden" name="business" value="4XSJW897W3N4N" />
		    <input type="hidden" name="currency_code" value="USD" />
		    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
		    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
		</form>
	    </li>
	    <li><p>Site designed by <a href="mailto:bsmiller25@gmail.com">Ben Miller</a></p>
	</center>

    </ul>

</header>
