<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
	<a class="navbar-brand" href="#">Charm City Chess Club</a>
    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 justify-content-end">
	
	<span>
	    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="form-inline my-2 my-lg-0">
		<input type="hidden" name="cmd" value="_donations" />
		<input type="hidden" name="business" value="4XSJW897W3N4N" />
		<input type="hidden" name="currency_code" value="USD" />
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
		<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
	    </form>
	</span>
    </div>
    
</nav>
