{% extends 'ccc/base.html' %}

{% block title %}Charm City Chess{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col s12">
	<h2 class="center-align">{{ tname }}</h2>
	
	<h4>Details</h4>
	<table>
	  <tr>
	    <td><p style="font-weight: bold; text-decoration: underline;">Date and Time:</p></td>
	    <td>{{ tdate|date:"l F d, Y"}}, 10:00am</td>
	    <tr>
	      <td><p style="font-weight: bold; text-decoration: underline;">Location:</p></td>
	      <td><a href="https://www.google.com/maps/place/4+W+University+Pkwy,+Baltimore,+MD+21218/@39.3343179,-76.6217081,17z/data=!3m1!4b1!4m5!3m4!1s0x89c805218b21c5e1:0x516ccd688e44c366!8m2!3d39.3343138!4d-76.6195194">Inn at The Colonnade Baltimore - a DoubleTree by Hilton Hotel - 4 West University Parkway, Baltimore, MD 21218</a></td>
	    </tr>
	    <tr>
	      <td><p style="font-weight: bold; text-decoration: underline;">Open Section:</p></td>
	      <td>USCF Membership Required<br>
		5SS, G/30; d5<br>
		Entry Fee: $30, after {{ edate|date:"M d, Y" }} $40<br>
		Prizes (based on 40 paid entries): 1st-$200, 2nd-$125, 3rd: $75<br>
		Top U2000, U1800, U1600, U1400: $70 each<br>
		Registration: 10:00am-11:00am, rds 11:30am, 1:30pm, 2:45pm, 4:00pm, 5:30pm
	      </td>
	    </tr>
	    <tr>
	      <td><p style="font-weight: bold; text-decoration: underline;">U1200 Section:</p></td>
	      <td>USCF Membership Required<br>
		5SS, G/30; d5<br>
		Entry Fee: $30, after {{ edate|date:"M d, Y" }} $40<br>
		Trophies: 1st, 2nd, 3rd<br>
		Additional 1 year membership to USCF for players scoring 4 points or better<br>
		Registration: 10:00am-11:00am, rds 11:30am, 1:30pm, 2:45pm, 4:00pm, 5:30pm
	      </td>
	    </tr>
	    <tr>
	      <td><p style="font-weight: bold; text-decoration: underline;">Contact Info:</p></td>
	      <td>charmcitychess@gmail.com, 917-573-5775</td>
	    </tr>
	</table>
	<div class="card red lighten-1">
	  <div class="row">
	    <div class="card-content white-text">
	      <p>Please bring sets and clocks.</p>
	    </div>
	  </div>
	</div>
	<br>
	

	<h4>Registration</h4>

	{% if not done %}

	  <div class="paypal">
	    
	    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
	      <input type="hidden" name="cmd" value="_xclick">
	      <input type="hidden" name="business" value="charmcitychess@gmail.com">
	      <input type="hidden" name="lc" value="US">
	      <input type="hidden" name="item_name" value="{{ tname }}">
	      <input type="hidden" name="button_subtype" value="services">
	      <input type="hidden" name="currency_code" value="USD">
	      <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
	      <table>
		<tr><td><input type="hidden" name="on0" value="Section"><p style="font-weight: bold; text-decoration: underline;">Section*</p></td></tr><tr><td><select name="os0">
		  {% if earlyreg %}
		    <option value="Open">Open $30.00 USD</option>
		    <option value="U1200">U1200 $25.00 USD</option>
		  {% else %}
		    <option value="Open">Open $40.00 USD</option>
		    <option value="U1200">U1200 $30.00 USD</option>
		  {% endif %}
		</select> </td></tr>
		<tr><td><input type="hidden" name="on1" value="Participant Name"><p style="font-weight: bold; text-decoration: underline;">Participant Name*</p></td></tr><tr><td><input type="text" name="os1" maxlength="200" required></td></tr>
		<tr><td><input type="hidden" name="on2" value="Participant USCF ID"><p style="font-weight: bold; text-decoration: underline;">Participant USCF ID*</p></td></tr><tr><td><input type="text" name="os2" maxlength="200" required></td></tr>
		<tr><td><input type="hidden" name="on3" value="Contact Email"><p style="font-weight: bold; text-decoration: underline;">Contact Email*</p></td></tr><tr><td><input type="text" name="os3" maxlength="200" required></td></tr>
	      </table>
	      <input type="hidden" name="option_select0" value="Open">
	      {% if earlyreg %}
		<input type="hidden" name="option_amount0" value="30.00">
	      {% else %}
		<input type="hidden" name="option_amount0" value="40.00">
	      {% endif %}
	      
	      <input type="hidden" name="option_select1" value="U1200">
	      {% if earlyreg %}
		<input type="hidden" name="option_amount1" value="25.00">
	      {% else %}
		<input type="hidden" name="option_amount1" value="30.00">
	      {% endif %}
	      <input type="hidden" name="option_index" value="0">
	      <input type="image" src="https://cdn.pixabay.com/photo/2016/08/29/09/22/register-1627729_960_720.png" style="height: 100px" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
	      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
	    </form>

	  </div>
	  <p>* Required Field</p>
	{% else %}

	  <div class="card red lighten-1">
	    <div class="row">
	      <div class="card-content white-text">
		<p>Registration has closed!</p>
	      </div> 
	    </div> 
	  </div>
	  
	  
	{% endif %}

	<hr>


      </div>
    </div>
    
{% endblock %}
